@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
    text-align: center;
    margin: 100px auto;
    width: 80%;
    padding: 0 40px;
    font: 14px normal 'Varela Round', Helvetica, serif;
}

h1 {
    font-size: 20px;
    color: white;
}

#container {
  width: 310px;
 height: 660px;
 margin: 5% auto 0;
position: relative;
background: #333;
 box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
 overflow: hidden;
}

ol {
    list-style-type: none;
    padding: 0;
    background:white;
    margin: 0 0;
    width: 100%;
    display: inline-block;

}

li {
    color: #2C3238;
    width: 96%;
    padding: 15px 2%;
    margin: 0;
    text-align: left;
    border-top: 1px solid #D5DDE4;
}

a:link {
  color:black;
  text-decoration: none;
}

a:visited {
color:black;
  text-decoration: none;
	
}

	
li.current {
    background: #ffd7d8;
}

button {
    margin:10px;
    padding:10px 35px;
    border: none;
    border-radius: 5px;
    background: white;
}

button:focus {
  outline: none;
}

button:active {
  background-color: grey;
}
